..navbar-nav {
  display: flex; /* استخدام Flexbox */
  justify-content: flex-start; /* العناصر تتحاذى إلى اليسار */
  margin-left: 0; /* 
  padding-left: 0;
}

.navbar-nav .nav-item {
  margin-right: 1rem; /* مسافة بين العناصر */
}

.dropdown-menu {
  text-align: left; 
}
