
.navbar {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #181818; 
    border-bottom: 1px solid #333;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white !important;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    margin-right: 15px;
    text-decoration: none;
    
    transition: color 0.3s ease;

  }
  
  .navbar-nav .nav-link:hover {
    color: #beafaf !important; 
  }
  
  
  .dropdown-menu {
    min-width: 200px; 
    background-color: #333;
    border: none; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
    list-style: none;
  }
  
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #333 transparent; 
  }
  
  .dropdown-item {
    color: #ddd !important;
    padding: 10px 15px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #00bcd4;
    color: white;
  }
  .btn.dropdown-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    color: white;
    font-size: 1rem;
  }
  
  .btn.dropdown-toggle:hover {
    color: #00bcd4;
  }
  
  
  @media (max-width: 768px) {
    .navbar-nav .nav-link {
      margin-right: 0;
      text-align: center;
      padding: 10px;
    }
  
    .dropdown-menu {
      position: static;
      margin: 0 auto;
   
    
    }
  }
  li {
    text-decoration: none;
    list-style: none;
  }