.popFigure {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    }
    .popCaption {
        position: absolute;
        top: 0;
        background-color:  rgba(1, 1, 1, 0.361);
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -ms-transition: 1s all;
        -o-transition: 1s all;
        display: flex;
        align-items: center;
    }
    .popFigure:hover .popCaption{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }