@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
body {
  font-family: "Montserrat Alternates";
  background: linear-gradient(#111 ,#222);
  height: 100vh;
  color: white;
}

